body{
    background-color: #888;
    height: 100vh;
    display: flex;
    align-items: center;
}

.row{
    background-color: #fff;
    border-radius: 25px;
}

#form-container{
    padding: 35px;
}
#form-container h2{
    font-weight: 900;
}

#form-container .form-control{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
#form-container .form-control:focus{
    box-shadow: none;
}
#form-container .form-floating label{
    color: #ccc;
}
#form-container .form-floating > .form-control:focus~label{
    color: #000;
}


@media(max-width: 768px){
    button{
        width: 100%;
        margin-bottom: 45px;
    }

    h2{
        margin: 80px 0;
    }

    #form-container{

    }
}